@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.header {
  background-color: rgba(255, 144, 14, 0.1);
}
.text-title {
  color: #131313;
}
.brandname {
  font-size: 2.8rem;
  font-weight: 700;
}
.text-gray {
  color: rgba(66, 66, 66, 1);
}
.display-flex {
  display: flex;
}
.navbar {
  align-items: center;
  justify-content: space-between;
}
.nav-item {
  list-style: none;
  margin-right: 20px;
}
.nav-links li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}
.navbar,
.banner {
  max-width: 1440px;
  max-width: 100px auto;
  padding: 100px 100px;
}
.banner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
}
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 24px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 1.25rem;
}
.banner img {
  width: 100%;
  border-radius: 8px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-left: 130px;
  margin-top: 130px;
  margin-bottom: 130px;
  margin-bottom: 130px;
}
.teams {
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}
.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  border-radius: 10px;
}
.team-image-container img {
  width: 80%;
  align-items: center;
}
.our-features,
.some-facts {
  margin: 70px;
  justify-content: center;
  align-items: center;
}
.section-title {
  font-size: 3rem;
  font-weight: 500;
  /* color: #727272; */
}
.feature-description {
  font-size: 1rem;
  color: #727272;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 50px;
}

.fact {
  max-width: 240px;
  max-height: 240px;
  border: 2px solid #ff900e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}
.internal-card {
  justify-content: center;
  align-items: center;
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 5px;
  color: #727272;
}
.fact-icon {
  width: 40px;
  height: 40px;
  align-items: center;
}
@media screen and (max-width: 756px) {
  .navbar,
  .nav-links,
  .banner {
    flex-direction: column;
  }

  .navbar,
  .banner {
    padding: 10px 10px;
  }
  main > section {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;
  }
  .teams {
    flex-direction: column-reverse;
  }
  .team-image-container {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .our-features {
    margin: 10px;
  }
  .facts-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin: 10 px;
  }
  .team-image-container {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  main > section {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;
  }
  .facts-container {
    grid-template-columns: 1fr 1fr;
  }
}
